.container .box{
	background-color: #e2eecf;
	padding: 5px 0;
	margin-bottom: 20px; 
}

.row .removeVal{
	color : red;
	margin : 0 7px;
}

.row .removeVal:hover{
	cursor : pointer
}

/*#elementAttrs{
	height : 700px;
}*/

.row .display-code{
	height : 500px;
	width : 500px;
	margin-right:5px;
}

hr{
	border-top : #ddd 2px solid !important;
}

i{
	display: inline-block;
    width: 400px;
    overflow: scroll;
}

.red{
	color:red;
}

.blue{
	color:blue;
	font-weight: bold;
}

.a-normal{
	color : black;
}

.a-normal:hover{
	text-decoration: none;
	color : black;
	cursor: default;
}

#code{
	height: 500px;
    font-size: 15px;
    line-height: 22px;
    color: purple;
    overflow: scroll;
    background: black;
}

.tab{
	background-color:#7BB0A6;
	text-align: center;
	transition:background-color 0.5s;
}

.tab:hover{
	cursor: pointer;
	background-color:#64DDBB; 
}

.php-keyword{
	color : #5ba1cf !important;
}

.php-variable{
	color : #ffaa3e !important;
}

.php-plain{
	color: #b9bdb6 !important;
}

code{
	color:#5ce638 !important;
	background: black !important;
}

.showTemplateValidate,.showTemplateFilter{
	margin: 15px 0;
    background: #D3EBB2;
    padding: 10px;
}

.glyphicon{
	font-size: 9px;
    margin-right: 5px;
}

ul{
	list-style-type: none;
}

.form-signin{
	max-width: 330px;
    padding: 15px;
    margin: 0 auto;
}

.form-signin .form-signin-heading{
    margin-bottom: 10px;
}

.form-signin input[type="email"] {
	padding:25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="text"] {
	padding:25px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}


.form-signin input[type="password"] {
	padding:25px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

#dangnhap {
	margin-top: 20px;
}

#back{
	background: #fff;
    border: #fff;
    display: inline;
    width: 100px;
    height: 85px;
    margin:22px 0px 0px 100px;
}

.glyphicon-chevron-left{
	font-size: 85px;
    color: black;
}

